sudo: required #we need super user 
services:
 - docker #install docker in travis

# set up before running tests
# install build dev dockerfile which will build our stuff
before_install:
  - docker build -t khutso/docker-react -f ./prod-workflow-project/frontend/Dockerfile.dev .

# run image to start the test.
# add coverage for travis ci to see if tests failed or passed.
script:
  - docker run -e CI=true khutso/docker-react npm run test -- --coverage

# tell travis to deploy our app to AWS.
# deploy:
#   provider: elasticbeanstalk # deploy to AWS ElasticBeanstalk
#   region: 'eu-north-1' # region where elsaticneanstalk has been deployed to
#   app: 'frontend' # the application name in my elasticbenastalk
#   env: 'Frontend-env' # environment for application as seen in AWS
#   bucket_name: 'elasticbeanstalk-eu-north-1-533267286361' # bucket that will store my files in AWS (S3 created with ElasticBeanstalk)
#   bucket_path: 'frontend' # same as app for initial deployments
#   on:
#     branch: main